circle.timeNodes {
  fill: #A2D4AB;
  stroke: #5A5050;
  stroke-width: 4px;
}

.tick line {
	stroke-width: 0;
}

.tick text {
	font-size: 10pt;
	font-weight: 900;
	fill: #5A5050;
}

path.domain {
	stroke: #5A5050;
	stroke-width: 4px;
}